{% extends 'quiz_base.html' %}
{% load i18n %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}
{% block main %}
  <div class="container">
    <div class="board">
      <div class="board-header">
        {% trans "Category list" %}
      </div>
      <div class="board-content">
        <ul>
          {% for cat in category_list %}
            <li>
              <a href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
                {{ cat.category }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
