{% extends 'quiz_base.html' %}
{% load i18n %}
{% block title %}{% trans "Quizzes related to" %} {{ category.category }}{% endblock %}

{% block main %}
  <div class="board">
    <div class="board-header">
      {% trans "Quizzes in the" %} <strong>{{ category.category }} </strong>{% trans "category" %}
    </div>
    <div class="board-content">
      {% with object_list as quizzes %}
        {% if quizzes %}
          <ul>
            {% for quiz in quizzes %}
              <li>
                <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
                  {{ quiz.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>{% trans "There are no quizzes" %}</p>
        {% endif %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
